#root {
    width: 1400px;
    margin: 0 auto;
}

.app-wrapper {
    margin: 0 auto;
    display: flex;
}

.app-wrapper-content {
    margin-left: 10px;
}

.nav-bar {
    display: block;
    margin-top: 10px;
}

.nav-title {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: grey;
}

.nav-title:hover {
    text-decoration: none;
    color: white;
}

.wrapper-nav-bar {
    width: 10%;
    margin: 0 0 10px 0;
    border-right: 1px solid grey;
}

